.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    color: #000000;
    padding: 24px 0;



    letter-spacing: 0.03em;
    text-decoration: none
}

.logo__web {
    color: $brand-color;
}