.privacy {
    display: flex;
    justify-content: center;
}

.privacy__input:checked+.privacy__label .privacy__icon {
    border-color: transparent;
    background-color: $brand-color;
}

.privacy__label {
    display: flex;
    align-items: center;

    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;

    color: $discription;
    cursor: pointer;

    margin-top: 20px;

}

.privacy__icon {

    display: block;
    border: 2px solid $balck;
    fill: $white;
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.privacy__text {
    display: block;
    margin-left: 7px;
}

.privacy__link {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);

    letter-spacing: 0.03em;


    color: #2196F3;
}